## Preprocessing

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns=["EIN","NAME"], inplace=True)

In [5]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [6]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_df['APPLICATION_TYPE'].value_counts()[application_df['APPLICATION_TYPE'].value_counts() < 400].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [9]:
# Look at CLASSIFICATION value counts for binning
counts = application_df.CLASSIFICATION.value_counts()
counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4500        1
C2500        1
C4120        1
C1248        1
C1820        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [10]:
# You may find it helpful to look at CLASSIFICATION value counts >1
counts[counts > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1278       10
C1238       10
C1237        9
C1235        9
C7210        7
C1720        6
C4100        6
C2400        6
C1600        5
C1257        5
C2710        3
C1260        3
C0           3
C1256        2
C1234        2
C1267        2
C1246        2
C3200        2
Name: CLASSIFICATION, dtype: int64

In [11]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = [counts[counts < 1000].index]

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [12]:
# Convert categorical data to numeric with `pd.get_dummies`
application_dummies_df = pd.get_dummies(application_df)

In [13]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(application_dummies_df.drop(columns = ["IS_SUCCESSFUL"]),
                                                    application_dummies_df["IS_SUCCESSFUL"], random_state=42)

In [14]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [19]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = len(X_train.columns)
layer_1 =  50
layer_2 = 40

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=layer_1, input_dim=input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=layer_2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_3 (Dense)              (None, 50)                2200
_________________________________________________________________
dense_4 (Dense)              (None, 40)                2040
_________________________________________________________________
dense_5 (Dense)              (None, 1)                 41
=================================================================
Total params: 4,281
Trainable params: 4,281
Non-trainable params: 0
_________________________________________________________________

In [20]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [21]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 739us/step - loss: 0.6029 - accuracy: 0.6904
Epoch 2/50
804/804 [==============================] - 1s 751us/step - loss: 0.5582 - accuracy: 0.72800s - loss: 0.558
Epoch 3/50
804/804 [==============================] - 1s 751us/step - loss: 0.5480 - accuracy: 0.7336
Epoch 4/50
804/804 [==============================] - 1s 711us/step - loss: 0.5516 - accuracy: 0.7315
Epoch 5/50
804/804 [==============================] - 1s 698us/step - loss: 0.5448 - accuracy: 0.7356
Epoch 6/50
804/804 [==============================] - 1s 707us/step - loss: 0.5525 - accuracy: 0.7300
Epoch 7/50
804/804 [==============================] - 1s 706us/step - loss: 0.5478 - accuracy: 0.7314
Epoch 8/50
804/804 [==============================] - 1s 728us/step - loss: 0.5458 - accuracy: 0.7283
Epoch 9/50
804/804 [==============================] - 1s 793us/step - loss: 0.5431 - accuracy: 0.7372
Epoch 10/50
804/804 [==============================] - 1s 702us/step - loss: 0.5426 - accuracy: 0.7325
Epoch 11/50
804/804 [==============================] - 1s 701us/step - loss: 0.5467 - accuracy: 0.7332
Epoch 12/50
804/804 [==============================] - 1s 704us/step - loss: 0.5406 - accuracy: 0.7351
Epoch 13/50
804/804 [==============================] - 1s 745us/step - loss: 0.5500 - accuracy: 0.7288
Epoch 14/50
804/804 [==============================] - 1s 762us/step - loss: 0.5396 - accuracy: 0.7375
Epoch 15/50
804/804 [==============================] - 1s 725us/step - loss: 0.5444 - accuracy: 0.7322
Epoch 16/50
804/804 [==============================] - 1s 720us/step - loss: 0.5465 - accuracy: 0.7318
Epoch 17/50
804/804 [==============================] - 1s 719us/step - loss: 0.5460 - accuracy: 0.7315
Epoch 18/50
804/804 [==============================] - 1s 755us/step - loss: 0.5434 - accuracy: 0.7298
Epoch 19/50
804/804 [==============================] - 1s 720us/step - loss: 0.5455 - accuracy: 0.7341
Epoch 20/50
804/804 [==============================] - 1s 700us/step - loss: 0.5458 - accuracy: 0.7329
Epoch 21/50
804/804 [==============================] - 1s 740us/step - loss: 0.5413 - accuracy: 0.7358
Epoch 22/50
804/804 [==============================] - 1s 709us/step - loss: 0.5459 - accuracy: 0.7334
Epoch 23/50
804/804 [==============================] - 1s 763us/step - loss: 0.5449 - accuracy: 0.7315
Epoch 24/50
804/804 [==============================] - 1s 714us/step - loss: 0.5438 - accuracy: 0.7340
Epoch 25/50
804/804 [==============================] - 1s 717us/step - loss: 0.5387 - accuracy: 0.7393
Epoch 26/50
804/804 [==============================] - 1s 796us/step - loss: 0.5436 - accuracy: 0.7323
Epoch 27/50
804/804 [==============================] - 1s 785us/step - loss: 0.5413 - accuracy: 0.7381
Epoch 28/50
804/804 [==============================] - 1s 766us/step - loss: 0.5397 - accuracy: 0.7396
Epoch 29/50
804/804 [==============================] - 1s 795us/step - loss: 0.5374 - accuracy: 0.7390
Epoch 30/50
804/804 [==============================] - 1s 714us/step - loss: 0.5346 - accuracy: 0.7417
Epoch 31/50
804/804 [==============================] - 1s 717us/step - loss: 0.5391 - accuracy: 0.7374
Epoch 32/50
804/804 [==============================] - 1s 725us/step - loss: 0.5389 - accuracy: 0.7379
Epoch 33/50
804/804 [==============================] - 1s 747us/step - loss: 0.5360 - accuracy: 0.7394
Epoch 34/50
804/804 [==============================] - 1s 707us/step - loss: 0.5415 - accuracy: 0.7367
Epoch 35/50
804/804 [==============================] - 1s 755us/step - loss: 0.5396 - accuracy: 0.7348
Epoch 36/50
804/804 [==============================] - 1s 780us/step - loss: 0.5430 - accuracy: 0.7329
Epoch 37/50
804/804 [==============================] - 1s 716us/step - loss: 0.5464 - accuracy: 0.7327
Epoch 38/50
804/804 [==============================] - 1s 742us/step - loss: 0.5376 - accuracy: 0.7383
Epoch 39/50
804/804 [==============================] - 1s 813us/step - loss: 0.5380 - accuracy: 0.7374
Epoch 40/50
804/804 [==============================] - 1s 763us/step - loss: 0.5378 - accuracy: 0.7371
Epoch 41/50
804/804 [==============================] - 1s 741us/step - loss: 0.5424 - accuracy: 0.7344
Epoch 42/50
804/804 [==============================] - 1s 767us/step - loss: 0.5351 - accuracy: 0.7410
Epoch 43/50
804/804 [==============================] - 1s 736us/step - loss: 0.5407 - accuracy: 0.7342
Epoch 44/50
804/804 [==============================] - 1s 786us/step - loss: 0.5342 - accuracy: 0.7413
Epoch 45/50
804/804 [==============================] - 1s 712us/step - loss: 0.5353 - accuracy: 0.7411
Epoch 46/50
804/804 [==============================] - 1s 778us/step - loss: 0.5387 - accuracy: 0.7348
Epoch 47/50
804/804 [==============================] - 1s 809us/step - loss: 0.5336 - accuracy: 0.73760s - loss: 0.5327 - accuracy: 0.
Epoch 48/50
804/804 [==============================] - 1s 750us/step - loss: 0.5357 - accuracy: 0.7391
Epoch 49/50
804/804 [==============================] - 1s 762us/step - loss: 0.5369 - accuracy: 0.7407
Epoch 50/50
804/804 [==============================] - 1s 731us/step - loss: 0.5357 - accuracy: 0.7421

In [22]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5564 - accuracy: 0.7304
Loss: 0.5563637614250183, Accuracy: 0.7303789854049683

In [23]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")